.header {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  align-items: center;
  width: 100%;
  button {
    padding: 0;
    border: 0;
    background: transparent;
    cursor: pointer;
    margin-left: 25px;
  }
}