.layout {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  height: 100%;
  .cards-container {
    margin-top: 25px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
  }
}